a {
 color: #ff0000;
}

a:visited {
 color: #00ff00;
}

a:hover {
 color: #ffff00;
}

h1 {
  color: red;
  background-color: #00ff00;
}

h2 {
  color: green;
  background-color: #ff0000;
}

h3 {
  color: blue;
  background-color: #0000ff;
}

p {
  color: #ffff00;
  background-color: #00ffff;
}

.spanstyle {
  color: red;
}

#divide {
  color: blue;
}
