body {
  background-color: #999999;
  font-family: helvetica, arial, sans-serif;
  color: white;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 0px;
  background-color: #535354;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}
header {
  font-family: 'Rubik', sans-serif;
  grid-column: span 12;
  background-color: #2F2F2E;
  text-transform: uppercase;
  list-style-type: none;
  padding-left: 20px;
  border-bottom: 1px;
  border-bottom-color: #EEF19C;
}

h1 a {
  list-style: none;
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: #EEF19C;
}

h1 a:visited {
  text-decoration: none;
}

.VehicleDynamics {
  width: 100%;
  grid-column: span 12;
}

aside {
  grid-column: span 12;
}

aside img {
  width:
}

nav {
  grid-column: span 12;
  background-color: #2F2F2E;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0px;
  display: inline-block;
  background-color: #2F2F2E;
  grid-column: span 12;
  padding-left: 50px;
  padding-bottom: 20px;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

nav li a:hover {
  color: #EEF19C;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  grid-column: span 12;
  padding-left: 50px;
}

footer {
  background-color: #2F2F2E;
  grid-column: span 12;
  color: white;
  padding-left: 20px;
}

footer a {
  color: white;
  font-size: 2em;
  transition all .5s;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}

footer a:hover {
  color: #EEF19C;
  font-size: 2em;
  text-shadow: 3px 3px 3px black;
  grid-column: span 12;
}

article p {
  padding-left: 25px;
}
 video {
   border-radius: 10px;
   padding-top: 20px;
 }

form {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 160px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}
